<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Insert title here</title>

  <!-- CSS の読み込み -->
  <link rel="stylesheet" href="/css/common/main.css">
  <link rel="stylesheet" href="/menu/menu.css">
</head>
<body>
    <!-- ヘッダ -->
    <div th:replace="common/header :: header"></div>

    <main>
      <h2>Todo</h2>
      <p>このアプリはタスクを管理するシンプルなアプリケーションです。</p>
        <nav>
          <ul>
            <li><a th:href="@{/}">ホーム</a></li>
            <li><a th:href="@{frontend/src/components/TodoList.vue}">Todo一覧</a></li>
            <li><a th:href="@{/todos/new}">新しいTodoを追加</a></li>
          </ul>
       </nav>
    </main>

    <!-- フッター -->
    <div th:replace="common/footer :: footer"></div>
</body>
</html>